DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5435/eve_db?schema=public"
JWT_SECRET="eve-healthcare-super-secret-jwt-key-min-32-chars-length"
JWT_EXPIRES_IN="24h"
NODE_ENV="development"
PORT="3000"
LOG_LEVEL="info"
